<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion à l'administration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <style>
        body{
            display:flex;
            justify-content:center;
            height:100vh;
        }

        .card{
            margin-top:10%;
        }
    </style>
</head>
<body>
    <div class="col-lg-4">
        <div class="card bg-light">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fa fas-lock"></i>
                    Connexion à l'administration
                </h4>
            </div>

            <div class="card-body">
                {% if hasError %}
                    <div class="alert alert-danger">
                        Une Erreur est survenue, identifiants invalides!
                    </div>
                {% endif %}
                <form method="post">
                    <div class="form-group"><label for="username">Email</label><input type="text" class="form-control" placeholder="Adresse email" id="username" name="_username" value="{{ username }}"></div>
                    <div class="form-group"><label for="password">Mot de passe</label><input type="password" class="form-control" placeholder="Mot de passe" id="password" name="_password"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-lock-open"></i>
                            Connexion
                        </button>
                        <a href="{{path('homepage')}}" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left"></i>
                            Retour au site
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>