<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello {{prenom}}</title>
</head>
<body>
    <p>Vous etes sur mon site web</p>
    <p>Salut {{prenom}} tu as {{age}} ans</p>
</body>
</html>